@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
    --font-sans: 'Inter', sans-serif;
    --font-mono: 'Fira Code', monospace;
    --font-playfair: 'Playfair Display', serif;
  }
  
  .font-sans {
    font-family: var(--font-sans);
  }
  
  .font-mono {
    font-family: var(--font-mono);
  }
  
  .font-playfair {
    font-family: var(--font-playfair);
  }